@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@font-face { font-family: 'The Heart'; src: url('../fonts/The Heart of Everything Demo.ttf') format('truetype'); }

/*COLORS*/

$blue : #071C36;
$darkblue : #041325;
$gold : #bd924e;
$white: #ffffff;
