@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700,700i,800,800i&subset=greek,greek-ext,latin-ext');
@font-face { font-family: 'The Heart'; src: url('../fonts/The Heart of Everything Demo.ttf') format('truetype'); }

/*COLORS*/

$blue : #071C36;
$darkblue : #041325;
$gold : #bd924e;
$white: #ffffff;
