@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700,700i,800,800i&subset=greek,greek-ext,latin-ext");
@font-face {
  font-family: 'The Heart';
  src: url("../fonts/The Heart of Everything Demo.ttf") format("truetype"); }
/*COLORS*/
.chapter.one {
  background: url("../images/chap1/chap1_bg.png") no-repeat center center #071C36; }
.chapter.two {
  background: url("../images/chap2/chap2_bg.png") no-repeat center center #071C36; }
.chapter.three {
  background: url("../images/chap3/chap3_bg.png") no-repeat center center #071C36; }
.chapter.four {
  background: url("../images/chap4/chap4_bg.png") no-repeat center center #071C36; }
.chapter.five {
  background: url("../images/chap5/chap5_bg.png") no-repeat center center #071C36; }
.chapter.six {
  background: url("../images/chap6/chap6_bg.png") no-repeat center center #071C36; }
.chapter.seven {
  background: url("../images/chap7/chap7_bg.png") no-repeat center center #071C36; }
.chapter.height {
  background: url("../images/chap8/chap8_bg.png") no-repeat center center #071C36; }
.chapter.nine {
  background: url("../images/chap9/chap9_bg.png") no-repeat center center #071C36; }
.chapter.ten {
  background: url("../images/chap10/chap10_bg.png") no-repeat center center #071C36; }
.chapter.eleven {
  background: url("../images/chap11/chap11_bg.png") no-repeat center center #071C36; }
.chapter .intro {
  height: 100%; }
.chapter .text {
  padding: 0px 55px 50px;
  background: #ffffff; }
  .chapter .text img {
    padding: 30px; }
  .chapter .text p {
    padding: 20px; }
.chapter .en-bref {
  background: url("../images/bg_map.png") center center #071C36;
  padding: 50px 0; }
.chapter .map-chapter {
  background: #071C36;
  border-top: 2px #bd924e solid;
  border-bottom: 2px #bd924e solid; }
  .chapter .map-chapter img {
    width: 100%; }
.chapter .next-chapter {
  background: url("../images/bg_map.png") center bottom #071C36;
  height: 250px; }
  .chapter .next-chapter .gold {
    margin-left: 10px; }
  .chapter .next-chapter .line {
    height: 2px;
    width: 100px;
    background-color: #bd924e; }
  .chapter .next-chapter .dot {
    color: #bd924e;
    background-color: #bd924e;
    width: 16px;
    height: 16px;
    border-radius: 8px; }
  .chapter .next-chapter .link {
    color: white;
    letter-spacing: 4px;
    font-weight: 600; }
  .chapter .next-chapter .left {
    position: absolute;
    left: 0;
    height: 80px; }
    .chapter .next-chapter .left .link {
      padding-left: 20px; }
  .chapter .next-chapter .right {
    position: absolute;
    right: 0; }
    .chapter .next-chapter .right .dot {
      width: 80px;
      height: 80px;
      border-radius: 40px;
      border: 1px solid #bd924e; }
    .chapter .next-chapter .right .link {
      padding-right: 20px; }

@media screen and (max-width: 1024px) {
  .chapter.one, .chapter.two, .chapter.three, .chapter.four, .chapter.five, .chapter.six, .chapter.seven, .chapter.height, .chapter.nine, .chapter.ten, .chapter.eleven, .chapter .en-bref, .chapter .next-chapter {
    background: none #071C36; }
  .chapter .map-chapter {
    display: none; }
  .chapter .text {
    padding: 0px 0px 50px; } }
@media screen and (max-width: 768px) {
  .next-chapter .left {
    display: none; } }
