@import '_variables';

#summary {
	width: 100%;

	.chapter {
		height: 30px;
		line-height: 30px;

		.chapter_point {
			margin: auto;
			color: $gold;
			background-color: $gold;
			width: 16px;
			height: 16px;
			border-radius: 8px;
			text-decoration: none;
			border: none;
			cursor: pointer;

			&:hover {
				width: 60px;
				height: 60px;
				border-radius: 30px;
			}
		}

		.chapter_content {
			color: #FFF;
			text-align: center;

			.chapter_number {
				text-transform: uppercase;
				font-weight: bolder;
			}

			.chapter_number span {
				color: $gold;
			}
		}
	}
}