@import '_variables';

body {
	overflow-x: hidden;
}

#summary {
	width: calc(100% - 41px);
	position: relative;
	margin: 70px auto 0;
	text-align: center;

	#line {
		height: 3px;
		width: 100%;
		background-color: $gold;
		position: absolute;
		margin-top: 86px;
	}

	.chapters {
		height: 150px;

		.hover_point_space {
			cursor: pointer;
			height: auto;
			width: auto;

			.chapters_secret {
				margin: 23px auto auto auto;
				color: $gold;
				background-color: $gold;
				width: 8px;
				height: 8px;
				border-radius: 4px;
				text-decoration: none;
				cursor: pointer;
				display: block;

				-webkit-transition: all 0.3s ease-in-out;
			  -moz-transition: all 0.3s ease-in-out;
			  -o-transition: all 0.3s ease-in-out;
			  -ms-transition: all 0.3s ease-in-out;
			  transition: all 0.3s ease-in-out;
			}

			.chapters_point {
				// margin: 12px auto auto auto;
				color: $gold;
				background-color: $gold;
				width: 16px;
				height: 16px;
				border-radius: 8px;
				text-decoration: none;
				cursor: pointer;

				-webkit-transition: all 0.3s ease-in-out;
			  -moz-transition: all 0.3s ease-in-out;
			  -o-transition: all 0.3s ease-in-out;
			  -ms-transition: all 0.3s ease-in-out;
			  transition: all 0.3s ease-in-out;

				img {
					opacity: 0;
					height: 16px;
					width: 16px;
					border-radius: 8px;
					-webkit-transition: all 0.3s ease-in-out;
			  	-moz-transition: all 0.3s ease-in-out;
			  	-o-transition: all 0.3s ease-in-out;
			  	-ms-transition: all 0.3s ease-in-out;
			  	transition: all 0.3s ease-in-out;
				}

			}

			&:hover {

				.chapters_secret {
					width: 16px;
					height: 16px;
					border-radius: 8px;
					margin-top: 20px;
				}

				.chapters_point {
					-webkit-transform: scale(4);
			    -moz-transform: scale(4);
			    -o-transform: scale(4);
			    -ms-transform: scale(4);
			    transform: scale(4);

					img {
						opacity: 1;
						-webkit-transform: scale(4);
				    -moz-transform: scale(4);
				    -o-transform: scale(4);
				    -ms-transform: scale(4);
				    transform: scale(4);
					}
				}
			}
		}

		.chapters_content {
			opacity: 0;
			margin: -20px 0 20px 0;
			-webkit-transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
		  -moz-transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
		  -o-transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
		  -ms-transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
		  transition: opacity 0.3s ease-in-out, margin-top 0.3s ease-in-out;
			color: #FFF;
			text-align: center;
			height: 80px;
			letter-spacing: 3px;
			font-weight: normal;
			width: 200px;
			margin-left: -30px;

			.chapters_number {
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 600;

				span {
					color: $gold;
					font-weight: 800;
				}
			}

			.chapters_title {
				font-size: 0.8rem;
		    margin-top: 12px;
		    line-height: 18px;
			}
		}
	}
}

.box {
	display: none;
	z-index: 101;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1024px) {
	#line {
		opacity: 1;
		margin-top: 0px !important;
		width: 3px !important;
		height: 100% !important;
		margin-left: calc(50% - 95px);
	}

	.chapters {
		width: 200px !important;
	  display: block;
	  margin-left: calc(50% - 100px);
	  margin-right: calc(50% - 100px);
	}

	.chapters_point img {
		opacity: 1 !important;
		-webkit-transform: scale(4) !important;
		-moz-transform: scale(4) !important;
		-o-transform: scale(4) !important;
		-ms-transform: scale(4) !important;
		transform: scale(4) !important;
	}

	.hover_point_space {
		float: left;
	}

  .chapters_content {
  	opacity: 1;
  	float: right;
  	margin-top: -10px !important;
  }

  .chapters_secret {
		width: 16px !important;
		height: 16px !important;
		border-radius: 8px !important;
		margin-top: 0px !important;
	}
}
