#summary {
  width: 100%;
  height: 300px;
  line-height: 300px;
  display: flex;
  flex-wrap: nowrap;
}

#summary li {
  margin: auto;
  color: #bd924e;
  background-color: #bd924e;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

#summary li:hover {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
