@import '_variables';

#summary {
	width: 100%;
	height: 300px;
	position: relative;
	margin-top: 60px;

	#line {
		height: 3px;
		width: 100%;
		background-color: $gold;
		position: absolute;
		margin-top: 98px;
	}

	.chapters {
		height: 150px;

		.chapters_point {
			margin: 12px auto auto auto;
			color: $gold;
			background-color: $gold;
			width: 16px;
			height: 16px;
			border-radius: 8px;
			text-decoration: none;
			cursor: pointer;

			-webkit-transition: all 0.5s ease-in-out;
		  -moz-transition: all 0.5s ease-in-out;
		  -o-transition: all 0.5s ease-in-out;
		  -ms-transition: all 0.5s ease-in-out;
		  transition: all 0.5s ease-in-out;

			img {
				opacity: 0;
				height: 16px;
				width: 16px;
				border-radius: 8px;
				-webkit-transition: all 0.5s ease-in-out;
		  	-moz-transition: all 0.5s ease-in-out;
		  	-o-transition: all 0.5s ease-in-out;
		  	-ms-transition: all 0.5s ease-in-out;
		  	transition: all 0.5s ease-in-out;
			}

			&:hover {
				-webkit-transform: scale(2.2);
		    -moz-transform: scale(2.2);
		    -o-transform: scale(2.2);
		    -ms-transform: scale(2.2);
		    transform: scale(2.2);
		    margin-top: 22px;

				img {
					opacity: 1;
					-webkit-transform: scale(2.2);
			    -moz-transform: scale(2.2);
			    -o-transform: scale(2.2);
			    -ms-transform: scale(2.2);
			    transform: scale(2.2);
				}
			}
		}

		.chapters_content {
			opacity: 0;
			margin-top: 0px;
			-webkit-transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
		  -moz-transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
		  -o-transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
		  -ms-transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
		  transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
			color: #FFF;
			text-align: center;
			height: 80px;
			letter-spacing: 3px;
			font-weight: normal;

			.chapters_number {
				text-transform: uppercase;
				font-size: 14px;
				font-weight: 600;

				span {
					color: $gold;
					font-weight: 800;
				}
			}

			.chapters_title {
				font-size: 13px;
				margin-top: 12px;
			}
		}
	}
}
