@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700,700i,800,800i&subset=greek,greek-ext,latin-ext");
@font-face {
  font-family: 'The Heart';
  src: url("../fonts/The Heart of Everything Demo.ttf") format("truetype"); }
/*COLORS*/
.chapter.one {
  background: url("../images/chap1/chap1_bg.png") #071C36; }
.chapter.two {
  background: url("../images/chap2/chap2_bg.png") #071C36; }
.chapter.three {
  background: url("../images/chap3/chap3_bg.png") #071C36; }
.chapter .text {
  margin: 0px 55px; }
  .chapter .text img {
    padding: 30px; }
  .chapter .text p {
    padding: 20px; }
.chapter .en-bref {
  background: url("../images/bg_map.png") center center #071C36;
  padding: 50px 0;
  margin: 20px -20px 0; }
.chapter .map-chapter {
  display: block;
  background: #071C36;
  margin: 0 -20px;
  border-top: 2px #bd924e solid;
  border-bottom: 2px #bd924e solid; }
  .chapter .map-chapter img {
    width: 100%; }
.chapter .next-chapter {
  background: url("../images/bg_map.png") center bottom #071C36;
  padding: 80px 0;
  margin: 0 -20px; }
  .chapter .next-chapter .lineLeft {
    height: 2px;
    width: 80px;
    background-color: #bd924e;
    float: left; }
  .chapter .next-chapter .dotLeft {
    color: #bd924e;
    background-color: #bd924e;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    float: left; }
  .chapter .next-chapter .linkLeft {
    float: left;
    margin-left: 20px; }
  .chapter .next-chapter .lineRight {
    height: 2px;
    width: 80px;
    background-color: #bd924e;
    position: absolute;
    right: 0; }
  .chapter .next-chapter .dotRight {
    color: #bd924e;
    background-color: #bd924e;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    position: absolute;
    right: 80px;
    border: 1px solid #bd924e; }
  .chapter .next-chapter .linkRight {
    position: absolute;
    right: 200px;
    text-align: right; }
