@import '_variables';

.chapter{

  &.one{
    background: url("../images/chap1/chap1_bg.png") $blue;
  }

  &.two{
    background: url("../images/chap2/chap2_bg.png") $blue;
  }

  &.three{
    background: url("../images/chap3/chap3_bg.png") $blue;
  }

  &.four{
    background: url("../images/chap4/chap4_bg.png") $blue;
  }

  &.five{
    background: url("../images/chap5/chap5_bg.png") $blue;
  }

  &.six{
    background: url("../images/chap6/chap6_bg.png") $blue;
  }

  &.seven{
    background: url("../images/chap7/chap7_bg.png") $blue;
  }

  &.height{
    background: url("../images/chap8/chap8_bg.png") $blue;
  }

  &.nine{
    background: url("../images/chap9/chap9_bg.png") $blue;
  }

  &.ten{
    background: url("../images/chap10/chap10_bg.png") $blue;
  }

  &.eleven{
    background: url("../images/chap11/chap11_bg.png") $blue;
  }

  .text{

    margin: 0px 55px;

    img{
      padding: 30px;
    }

    p{
      padding: 20px;
    }
  }

  .en-bref{
    background: url("../images/bg_map.png") center center $blue;
    padding: 50px 0;
    margin: 20px -20px 0;
  }

  .map-chapter{
    display: block;
    background: $blue;
    margin: 0 -20px;
    border-top: 2px $gold solid;
    border-bottom: 2px $gold solid;

    img{
      width: 100%;
    }
  }

  .next-chapter{
    background: url("../images/bg_map.png") center bottom $blue;
    padding: 80px 0;
    margin: 0 -20px;

    .gold{
      margin-left: 10px;
    }

    .lineLeft{
      height: 2px;
      width: 80px;
      background-color: #bd924e;
      float: left;
    }

    .dotLeft{
      color: #bd924e;
      background-color: #bd924e;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      float: left;
    }

    .linkLeft{
      float: left;
      margin-left: 20px;
    }

    .lineRight{
      height: 2px;
      width: 80px;
      background-color: #bd924e;
      position: absolute;
      right: 0;
    }

    .dotRight{
      color: #bd924e;
      background-color: #bd924e;
      width: 80px;
      height: 80px;
      border-radius: 40px;
      position: absolute;
      right: 80px;
      border: 1px solid $gold;
    }

    .linkRight{
      position: absolute;
      right: 200px;
      text-align: right;
    }
  }
}

@media screen and (max-width: 1024px) {
  .chapter{
    &.one, &.two, &.three, &.four, &.five, &.six, &.seven, &.height, &.nine, &.ten, &.eleven, .en-bref, .next-chapter {
      background: none $blue;
    }
    .map-chapter {
      display: none;
    }
  }

  .one-up-ipad {
    width: 100% !important;
  }

}