@import '_variables';

.chapter{

  &.un{
    background: url("../images/chap1/chap1_bg.png") $blue;
  }

  .text{

    margin: 0px 55px;

    img{
      padding: 30px;
    }

    p{
      padding: 20px;
    }
  }

  .en-bref{
    background: url("../images/bg_map.png") center center $blue;
    padding: 50px 0;
  }

  .map-chapter{
    display: block;
    width: 100%;
    height: 300px;
    background: $blue;
  }

  .next-chapter{
    background: url("../images/bg_map.png") center bottom $blue;
    padding: 50px 0;
  }
}
