@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700,700i,800,800i&subset=greek,greek-ext,latin-ext");
@font-face {
  font-family: 'The Heart';
  src: url("../fonts/The Heart of Everything Demo.ttf") format("truetype"); }
/*COLORS*/
#summary {
  width: 100%;
  height: 300px;
  position: relative;
  margin-top: 60px; }
  #summary #line {
    height: 3px;
    width: 100%;
    background-color: #bd924e;
    position: absolute;
    margin-top: 98px; }
  #summary .chapters {
    height: 150px; }
    #summary .chapters .chapters_point {
      margin: 12px auto auto auto;
      color: #bd924e;
      background-color: #bd924e;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      text-decoration: none;
      cursor: pointer;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      #summary .chapters .chapters_point img {
        opacity: 0;
        height: 16px;
        width: 16px;
        border-radius: 8px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out; }
      #summary .chapters .chapters_point:hover {
        -webkit-transform: scale(2.2);
        -moz-transform: scale(2.2);
        -o-transform: scale(2.2);
        -ms-transform: scale(2.2);
        transform: scale(2.2);
        margin-top: 22px; }
        #summary .chapters .chapters_point:hover img {
          opacity: 1;
          -webkit-transform: scale(2.2);
          -moz-transform: scale(2.2);
          -o-transform: scale(2.2);
          -ms-transform: scale(2.2);
          transform: scale(2.2); }
    #summary .chapters .chapters_content {
      opacity: 0;
      margin-top: 0px;
      -webkit-transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
      -moz-transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
      -o-transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
      -ms-transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
      transition: opacity 0.5s ease-in-out, margin-top 0.5s ease-in-out;
      color: #FFF;
      text-align: center;
      height: 80px;
      letter-spacing: 3px;
      font-weight: normal; }
      #summary .chapters .chapters_content .chapters_number {
        text-transform: uppercase;
        font-size: 14px; }
        #summary .chapters .chapters_content .chapters_number span {
          color: #bd924e;
          font-weight: 800; }
      #summary .chapters .chapters_content .chapters_title {
        font-size: 13px;
        margin-top: 12px; }
