@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@font-face {
  font-family: 'The Heart';
  src: url("../fonts/The Heart of Everything Demo.ttf") format("truetype");
}

/*COLORS*/
#summary {
  width: 100%;
  height: 300px;
  position: relative;
}

#summary #line {
  height: 5px;
  width: 100%;
  background-color: #bd924e;
  position: absolute;
  margin-top: 82px;
}

#summary .chapter {
  height: 120px;
}

#summary .chapter .chapter_point {
  margin: auto;
  color: #bd924e;
  background-color: #bd924e;
  width: 20px;
  height: 20px;
  margin: 25px auto;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

#summary .chapter .chapter_point img {
  display: none;
}

#summary .chapter .chapter_point:hover {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin: auto auto;
}

#summary .chapter .chapter_point:hover img {
  display: block;
  height: 70px;
  width: 70px;
  border-radius: 35px;
}

#summary .chapter .chapter_content {
  color: #FFF;
  text-align: center;
  height: 50px;
}

#summary .chapter .chapter_content .chapter_number {
  text-transform: uppercase;
  font-weight: bolder;
}

#summary .chapter .chapter_content .chapter_number span {
  color: #bd924e;
}
