@import '_variables';

#home{
  & .cta{
    text-align: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-10%);
  }

  h1{
    font-size: 10em;
  }

  .logoIndex{
    width: 750px;
  }

  .gLineRight{
    content: '';
    border-bottom: 2px solid $gold;
    width: 20px;
    position: absolute;
    right: -20px;
    top: 50%;
  }
  .gLineLeft{
    content: '';
    border-bottom: 2px solid $gold;
    width: 20px;
    position: absolute;
    left: -20px;
    top: 50%;
  }
}


.line-through {
  position: relative;
  display: inline-block;
  text-transform: uppercase;

  &:hover{
    &::before {
      content: '';
      border-bottom: 2px solid $gold;
      width: 100%;
      position: absolute;
      right: 0;
      top: 50%;
    }
  }
}
