@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700,700i,800,800i&subset=greek,greek-ext,latin-ext");
@font-face {
  font-family: 'The Heart';
  src: url("../fonts/The Heart of Everything Demo.ttf") format("truetype");
}

/*COLORS*/
#home .cta {
  text-align: center;
  position: absolute;
  bottom: 13%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

#home h1 {
  font-size: 10em;
}

#home .logoIndex {
  width: 750px;
}

#home .glineRight, #home .glineLeft {
  content: '';
  border-bottom: 2px solid #bd924e;
  width: 20px;
  position: absolute;
  top: 50%;
}

#home .glineRight::before, #home .glineLeft::before {
  /*-webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      -ms-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;*/
}

#home .glineRight {
  right: -25px;
}

#home .glineLeft {
  left: -25px;
}

.line-through {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.line-through:hover {
  /*span.glineLeft, span.glineRight {
      width: 100%;
    }*/
}

.line-through:hover::before {
  content: '';
  border-bottom: 2px solid #bd924e;
  width: 110%;
  position: absolute;
  right: -20px;
  top: 50%;
}

/*.line-through:hover .glineLeft, .line-through:hover .glineRight {
  width: 200px; 
}*/
@media screen and (max-width: 1024px) {
  #home .gLineRight {
    width: 20px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  #home .gLineLeft {
    width: 20px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  .line-through:hover::before {
    border-bottom: 0;
    width: 0;
  }
}
