@import '_variables';

#home{
  & .cta{
    text-align: center;
    position: absolute;
    bottom: 13%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  logo{
    font-size: 10em;
  }

  .LogoMobile{
    display: none;
  }

  .logoIndex{
    width: 650px;
  }

  .glineRight, .glineLeft {
    content: '';
    border-bottom: 2px solid $gold;
    width: 20px;
    position: absolute;
    top: 50%;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -o-transition: 1s ease;
    -ms-transition: 1s ease;
    transition: 1s ease;  }

  .glineRight {
    right: -25px;
  }

  .glineLeft {
    left: -25px;
  }
}

.line-through {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8rem;
}


@media screen and (max-width: 1024px) {
  #home{

    .LogoMobile{
      display: block;
      width: 60px;
      margin: 0 auto 50px;
    }
    .gLineRight{
      width: 20px;
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
    .gLineLeft{
      width: 20px;
      -moz-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }

}
@media screen and (min-width: 1024px){
  #home{
    & .cta{
      &:hover .glineLeft{
        width: 150px;
        -webkit-transition: 1s ease;
  		  -moz-transition: 1s ease;
  		  -o-transition: 1s ease;
  		  -ms-transition: 1s ease;
        transition: 1s ease;
      }
      &:hover .glineRight{
        width: 150px;
        -webkit-transition: 1s ease;
  		  -moz-transition: 1s ease;
  		  -o-transition: 1s ease;
  		  -ms-transition: 1s ease;
        transition: 1s ease;
      }
    }
  }
}
