@import '_variables';

body {
	overflow: hidden; 
}

.main {
	background-color: #1b324a;

	#map { 
		width: 90%;
		height: 90%;
		position: absolute;
		margin: -15% 5% 0 5%;
		z-index: 2;
	}

	h1 {
		position: relative;
		z-index: 4;
		width: 400px;
	}

}

.datamaps-hoverover {
	/*top: 210px !important;
	left: 400px!important;*/
}

.hoverinfo { 
	background-color: transparent !important;
	font-size: 13px !important;
	border: none !important;
	color: #FFF!important;
	box-shadow: none !important;
	font-family: 'Open Sans', sans-serif !important;
	text-transform: uppercase;
}  