@import '_variables';

body {
	overflow: hidden;
}

.main {
	background-color: $blue;

	#map {
		width: calc(100% - 45px);
		height: calc(100% - 45px);
		// position: absolute;
		// z-index: 0;
	}

	h1 {
		position: relative;
		z-index: 4;
		width: 400px;
	}

	#logoMap{
		width: 150px;
		position: absolute;
		bottom: 70px;
		left: 70px;	}

}

.datamaps-hoverover {
	/*top: 210px !important;
	left: 400px!important;*/
}

.hoverinfo {
	background-color: transparent !important;
	font-size: 13px !important;
	border: none !important;
	color: #FFF!important;
	box-shadow: none !important;
	font-family: 'Open Sans', sans-serif !important;
	text-transform: uppercase;
}
