@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700,700i,800,800i&subset=greek,greek-ext,latin-ext");
@font-face {
  font-family: 'The Heart';
  src: url("../fonts/The Heart of Everything Demo.ttf") format("truetype"); }
/*COLORS*/
/* Menu principal */
.mainNav {
  list-style-type: none;
  padding: 20px 50px 50px; }
  .mainNav .logoNav {
    width: 180px;
    transition: 0.3s; }
    .mainNav .logoNav:hover {
      opacity: 0.7; }
  .mainNav li {
    float: right; }
    .mainNav li a {
      display: inline-block;
      text-align: center;
      padding: 15px 30px;
      transition: 0.3s;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600; }
      .mainNav li a:hover {
        color: #bd924e; }
    .mainNav li.active a {
      color: #bd924e; }
