@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700,700i,800,800i&subset=greek,greek-ext,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700,700i,800,800i&subset=greek,greek-ext,latin-ext");
@font-face {
  font-family: 'The Heart';
  src: url("../fonts/The Heart of Everything Demo.ttf") format("truetype"); }
/*COLORS*/
/***********************
**** Initialisation ****
***********************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Open Sans', sans-serif; }

@font-face {
  font-family: 'The Heart';
  src: url("../fonts/The Heart of Everything Demo.ttf") format("truetype"); }
/*COLORS*/
/* Menu principal */
.mainNav {
  list-style-type: none;
  padding: 50px 70px; }
  .mainNav.desktop .logoNav {
    width: 180px;
    transition: 0.3s; }
    .mainNav.desktop .logoNav:hover {
      opacity: 0.7; }
  .mainNav.desktop li {
    float: right; }
    .mainNav.desktop li a {
      display: inline-block;
      text-align: center;
      padding: 15px 30px;
      transition: 0.3s;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600; }
      .mainNav.desktop li a:hover {
        color: #bd924e; }
    .mainNav.desktop li.active a {
      color: #bd924e; }
  .mainNav.mobile {
    display: none; }
    .mainNav.mobile .overlay {
      height: 100%;
      width: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background-color: red;
      overflow: hidden;
      opacity: 1; }
    .mainNav.mobile .content {
      position: relative;
      height: 70%;
      top: 50%;
      transform: translateY(-50%);
      font-size: 50px;
      text-align: center; }

@media screen and (max-width: 1024px) {
  .mainNav.desktop {
    display: none; }
  .mainNav.mobile {
    display: block; } }
/***********************
******** Général *******
***********************/
/* Bandeau principal de contenu */
#overlay {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.main {
  background: #071C36;
  color: #ffffff;
  width: 100%;
  height: 100%; }

.bg-img {
  background: url("../images/index.png") #071C36; }

.gold-border {
  border: 2px #bd924e solid;
  width: calc(100% - 40px);
  height: calc(100% - 40px); }

/* Style des éléments en général */
a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  border: none; }
  a:hover {
    color: #ffffff; }

h1 {
  font-family: "The Heart", cursive;
  font-size: 8em;
  margin: 20px 20px 40px;
  text-align: left; }

h2 {
  color: #bd924e;
  text-transform: uppercase;
  text-align: left;
  padding: 30px 0;
  font-size: 16px;
  font-weight: 600; }

p {
  text-align: left;
  color: #000;
  line-height: 30px;
  font-size: 16px;
  text-align: justify; }

.letter-spacing {
  letter-spacing: 4px; }

.white {
  color: #ffffff; }

.gold {
  color: #bd924e; }

.bold {
  font-weight: 700; }

.semibold {
  font-weight: 600; }

.uppercase {
  text-transform: uppercase; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center; }

.valign-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .valign-wrapper .valign {
    display: block; }

.secret-password {
  color: #071C36;
  font-weight: bolder; }

@media screen and (max-width: 1024px) {
  .bg-img {
    background-color: #071C36;
    background-image: none; }

  .gold-border {
    border: none; } }
