@import '_variables';
@import 'reset';
@import 'menu';

/***********************
******** Général *******
***********************/

/* Bandeau principal de contenu */

.main {
	background: $blue;
	color: $white;
	width: 100%;
	height: 100%;

}

.bg-img{
	background: url("../images/index.png") $blue;
}

.gold-border{
	border: 2px $gold solid;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
}

/* Style des éléments en général */
a {
	color: $white;
	text-decoration: none;
	cursor: pointer;
	border: none;

	&:hover{
		color: $white;
	}
}

h1 {
	font-family: "The Heart", cursive;
	font-size: 8em;
	margin: 20px 20px 40px;
	text-align: left;
}

h2 {
	color: $gold;
	text-transform: uppercase;
	text-align: left;
	padding: 30px 0;
	font-size: 16px;
	font-weight: 600;
}

p{
	text-align: left;
	color: #000;
	line-height: 30px;
	font-size: 16px;
}

.letter-spacing{
	letter-spacing: 4px;
}

.white{
	color: $white;
}

.gold{
	color: $gold;
}

.bold{
	font-weight: 700;
}

.semibold{
	font-weight: 600;
}

.uppercase{
	text-transform: uppercase;
}

.center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
}

.valign-wrapper {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;

	.valign {
		display: block;
	}
}
