@import '_variables';
@import 'reset';

/***********************
******** Général *******
***********************/

/* Bandeau principal de contenu */

.main { 
	background-color: #0a1d35;
	color: #FFF;
	border: 2px #bd924e solid;
	padding: 20px;
}

/* Style des éléments en général */
a { 
	color: #FFF;
	text-decoration: none;
	border-bottom: 1px #bd924e solid;
}

h1 {
	font-family: "The Heart", cursive;
	font-size: 8em;
	margin: 20px;
}

h2 {
	color: #bd924e;
	text-transform: uppercase;
}


/* Menu principal */
ul.mainNav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: transparent;

	li {
		float: right;

		&.logoNav {
			float: left;
		}

		a {
			display: inline-block;
			color: #fff;
			text-align: center;
			padding: 14px 16px;
			text-decoration: none;
			transition: 0.3s;
			font-size: 17px;
			border: none;
			text-transform: uppercase;

			&:hover {
				color: #bd924e;
			}

		}

		&.active a {
			color: #bd924e;
		}

		&.icon {
			display: none;
		}
	}
}


@media screen and (max-width:680px) {
  ul.mainNav li:not(:first-child) { display: none; } 
  ul.mainNav li.icon { float: right; display: inline-block; }
}

@media screen and (max-width:680px) {
  ul.mainNav.responsive { position: relative; }
  ul.mainNav.responsive li.icon { position: absolute; right: 0; top: 0; }
  ul.mainNav.responsive li { float: none; display: inline; }
  ul.mainNav.responsive li a { display: block; text-align: left; }
}